<%= render 'shared/page_title', title: 'Log in' %>

<div class="row">
  <div class="well col-md-6 col-md-offset-3">
     <%= form_tag sessions_path do %>
     
     <%= label_tag :email %>
     <%= text_field_tag :email %>
     
     <%= label_tag :password %>
     <%= password_field_tag :password %>
     
     <%= submit_tag "Login", class: "btn btn-success" %>
  </div>
</div>


<% end %> 