<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for@chef do |f| %>
    
        <%= f.label :chefname %> <br />
        <%= f.text_field :chefname %>
   
      
    
        <%= f.label :email %> <br />
        <%= f.email_field :email %>
     
      
     
        <%= f.label :password %> <br />
        <%= f.password_field :password  %>
        
     
        <%= f.submit (@chef.new_record? ? "Register": "Edit Profile") , class: "btn btn-success" %>
      
      <% end %>
      </div>
    </div>
</div>

