<div class="well col-md-8 col-md-offset-2">
    <%= form_for(@recipe, html: { multipart: true }) do |f| %>
    
        <%= f.label :name %> <br />
        <%= f.text_field :name %>
   
      
    
        <%= f.label :summary %> <br />
        <%= f.text_field :summary %>
     
      
     
        <%= f.label :description %> <br />
        <%= f.text_area :description, rows: 10 %>
        
        <span class="picture"> 
             <%= f.file_field :picture, accept: "image/jpeg, image/gif,image/png" %>
        </span>
     
        <%= f.submit (@recipe.new_record? ? "Create New Recipe": "Edit Recipe") , class: "btn btn-success" %>
      
      <% end %>
    </div>
</div>

<script type="text/javascript">
    $('#recipe.picture').bind('change', function() {
        
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximium file size is 5MB. Please choose a smaller size');
        }
    });
</script>