<%= render "shared/page_title", title: "All Recipes" %>

<ul class="nav nav-tabs">
  <li class="active"> 
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<%= will_paginate %>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
            <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
            <h5> Chef name: <%= recipe.chef.chefname %></h5>
      </section>
    </div>
    
  <div class="col-lg-8 well">
    <h4> <%= link_to recipe.name, recipe_path(recipe) %> </h4>
      <p> <%= recipe.summary %> </p>
      <p>
        <%= link_to "Edit Recipe", edit_recipe_path(recipe) %>
      </p>
      <p>
      <span class="quiet"><small> created: <%= time_ago_in_words(recipe.created_at) %> </small></span></span>
      <span class="quiet"><small> updated: <%= time_ago_in_words(recipe.updated_at) %> </small></span></span>
      </p>
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true ), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
      <% end %> &nbsp &nbsp &nbsp &nbsp
      
      <%= link_to like_recipe_path(recipe, like: false ), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
      <% end %>
    </div>
</div>
  
  <div class="col-md-4">
    <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
  </div>
  
  </div>
  
  <hr />
  
<% end %>

<%= will_paginate %>


  