<% if object.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-8 col-md-offset-2">
      <h5> Please correct the following errors</h5>
        <% object.errors.full_messages.each do |error| %>
          <ul>
            <li> <%= error %></li>
          </ul>
        <% end %>
    </div>
  </div>
<% end %>
