<div class="row">
    <div class= "col-md-12">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"> <%= message %>
          <a class="class" data-dismiss="alert"> &#215;</a>
        </div>
      <% end %>
    </div>
</div>